.profile-page {
  background-color: #fafafa;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-rows: 4.5rem auto;
  grid-template-columns: 2.5fr 8fr 2.5fr;
  grid-template-areas:
    "nav nav nav"
    "left main right";
}
.profile-page__right {
  height: 100%;
  grid-area: right;
  background-color: #fafafa;
}
.profile-page__left {
  height: auto;
  grid-area: left;
  background-color: #fafafa;
}
.nav {
  grid-area: nav;
}
.profile-page__main {
  margin-top: 1.5rem;
  width: 100%;
  height: auto;
  margin-bottom: 2rem;

  grid-area: main;
  background-color: #ffffff;
  display: grid;
  grid-template-rows: 0.5fr 2rem auto;
  grid-template-areas:
    "profileHeader"
    "profileRoute"
    "profilePosts";
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.profile-page__header {
  grid-area: profileHeader;
  display: grid;
  grid-template-columns: 1.5fr 4fr;
  grid-template-rows: auto;
  grid-template-areas:
    "userAvatar userHead"
    "userAvatar userData"
    "userAvatar userName"
    "userAvatar userBio";
}
.profile-page__user-avatar {
  grid-area: userAvatar;
  height: 100%;
  padding-top: 2rem;
  padding-bottom: 1.2rem;
  text-align: center;
  padding-right: 1rem;
  padding-left: 1rem;
}
.profile-page__avatar {
  width: 11rem;
  height: 11rem;
  object-fit: fit;
  border-radius: 8px;
}
.profile-page__user-head {
  grid-area: userHead;
  height: 100%;
  padding-top: 1rem;
  padding-bottom: 1.2rem;
}
.profile-page__head-container {
  margin-top: 1rem;
  display: flex;
  gap: 2rem;
}
.profile__username {
  font-size: 1.7rem;
  letter-spacing: 1.3px;
  color: #262626;
  font-weight: 300;
}
.profile-page__message-btn {
  cursor: pointer;
  font-size: 0.8rem;
  letter-spacing: 1px;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  color: #262626;
  background-color: #fafafa;
  border: 1.2px solid #dbdbdb;
}
.profile-page__edit-btn {
  cursor: pointer;
  font-size: 0.8rem;
  letter-spacing: 1px;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  color: #262626;
  background-color: #fafafa;
  border: 1.2px solid #dbdbdb;
}
.profile-page__user-data {
  grid-area: userData;
  padding-top: 0.5rem;
  height: 100%;
  padding-bottom: 0.5rem;
}
.profile-page__data-container {
  display: flex;
  gap: 3.2rem;
}
.flex-row {
  display: flex;
  align-items: center;
  gap: 0.4rem;
}
.profile-page__head-count {
  font-size: 1rem;
  letter-spacing: 1px;
}
.profile-page__head-name {
  font-size: 1rem;
  letter-spacing: 0.2px;
  color: #262626;
  font-weight: 300;
}
.profile-page__user-name {
  height: 100%;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  grid-area: userName;
  color: #262626;
  font-weight: 600;
  font-size: 1rem;
  line-height: normal;
  letter-spacing: 1px;
}
.profile-page__user-bio {
  height: 100%;
  grid-area: userBio;
  height: auto;
  width: 96%;
  padding-top: 0.2rem;
  padding-bottom: 2rem;
}
.profile-page__bio-info {
  font-size: 0.9rem;
  letter-spacing: 0.2px;
  color: #262626;
  font-weight: 500;
  word-wrap: normal;
  line-break: auto;
}
.profile-page__route {
  grid-area: profileRoute;
  border-top: 2px solid rgb(239, 239, 241);
}
.profile-page__route-list {
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  list-style: none;
}
.profile-page__route-item {
  cursor: pointer;
  height: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
  color: #262626;
  border-top: 2px solid red;
}
.profile-page__route-info {
  max-height: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.profile-page__route-name {
  font-size: 0.9rem;
}
.profile-page__route-posts{
  width: 75%;
}
.profile-page__posts {
  width: 100%;
  padding: 1rem;
  grid-area: profilePosts;
  grid-template-columns: repeat(auto-fit, minmax(28rem, 1fr));
  display: grid;
  justify-items: center;
  margin-bottom: 2rem;
  gap: 1rem;
}
