.sign-in{

  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-rows: 4rem auto;
  grid-template-areas: 
  "nav"
  "main"
  
  ;
background-color: #1f1d2b;
}

.sign-in__main{
  grid-area: main;
  width: 100%;
}
.sign-in__main{
  display: grid;
  grid-template-rows: 6rem auto;
  gap:4rem;
  
}
.sign-in__main-header{
  color:#fefefe;
  padding: 1rem;
  width: 100%;
  text-align: center;
}
.sign-in__header-name{
font-size: 2.5rem;
font-weight: 600;
letter-spacing: 1px;
}
.sign-in__form{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
}
.sign-in__form-info{
  width: 35%;

}
.flx-cl{
  display: flex;
  flex-direction: column;
  gap:.5rem;
}
.gp-1{
  gap:1rem;
}

.input-info{
  padding-left: .5rem;
  width: auto;
  height:2.1rem;
  background-color: #353340;
  border: none;
  color:#61606f;
  
}
.lbl-fm{
  color:#fefefe;
  padding-left: .5rem;
  letter-spacing: 1px;
}
.btn-form{
    width: 6rem;
    height: 2rem;
    letter-spacing: 1px;
    font-weight: 600;
    background-color: inherit;
    border: 1px solid #fc7551;
    color:#fc7551;

  }
.fcs-btn{
  background-color: #fc7551;
  color:black;
  border: none;
}
.sign-in__button-info{
  display: flex;
  justify-content: space-evenly;
  padding-top: 1rem;
  flex-wrap: wrap;
}
