.main-follow__header {
    text-align: center;
    padding: 0.5rem;
    border-bottom: 1.5px solid #E0E0E0;
  }
  .main-follow__heading-name {
    font-style: normal;
    font-weight: 600;
    font-size: 1rem;
    line-height: 18px;
  
    color: #4f4f4f;
  }
  
  .main-follow__user-name {
    font-style: normal;
    font-weight: 500;
    font-size: 1rem;
    line-height: 24px;
    letter-spacing: -0.035em;
    color: #37393a;
  }
  
  .main-follow__user-followers {
    font-size: 0.8rem;
    letter-spacing: -0.015rem;
    line-height: 16px;
    color: #bdbdbd;
    font-weight: normal;
  }
  .main-follow__user-header {
    display: flex;
    gap: 1rem;
  }
  .main-follow__user-info {
    margin-top: 1rem;
    padding: .5rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
  .main-follow__user {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
  }

  .follow-button {
    letter-spacing: 1px;
    width: 4.1rem;
    height: 2rem;
    border: none;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.05);
    border-radius: 4px;
    background: #2f80ed;
    color: #ffffff;
  }
  .follow-button:hover{
      cursor: pointer;
  }