.home-page {

  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-rows: 4.5rem auto;
  grid-template-columns: 3fr 5fr 4fr;
  grid-template-areas:
  "nav nav nav"
  "left main right"
  ;

}
.nav{
  width: 100%;
  grid-area: nav;
}
.home-page__main {
  background-color: #fafafa;
  grid-area: main;
}
.home-page__right{
  padding: 0.5rem;
  padding-top: 1rem;
  grid-area: right;
  width: 100%;
  background-color: #fafafa;
  display: grid;
  padding-left: 3rem;
  justify-items: left;

}
.home-page__main-follow {
  
  height: fit-content;
  background-color: #ffffff;
  padding: 0.2rem;
  width: 18rem;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.home-page__left{
  grid-area: left;
  background-color: #fafafa;
}