@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@200;300;400;700&display=swap");



* {
  padding: 0;
  margin: 0;
  /* font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace; */
  /* font-family: 'Open Sans', sans-serif; */
  font-family: "Poppins", sans-serif;
  /* max-height: 100%; */

  box-sizing: border-box;
}
