.sign-in {
  margin: 0;
  padding: 0;
  display: grid;
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 1fr 8fr 1fr;
  grid-template-areas: "left main right";
}
.right {
  grid-area: right;
  background-color: #fafafa;
}
.left {
  grid-area: left;
  background-color: #fafafa;
}
.sign-in__main {
  width: 100%;
  grid-area: main;
  display: grid;
  background-color: #fafafa;
}
.sign-in__main-container {
  border-radius: 8px;
  /* width: 65%; */
  width: 32rem;
  color: #37393a;
  place-self: center;
  border: 1px solid #f3f3f3;
}
.sign-in__form {
  width: 100%;
  height: fit-content;
  padding-bottom: 2rem;
  border-radius: 8px;
  background-color: #ffffff;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.sign-in__main-header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
}
.sign__logo {
  width: 4rem;
  height: 4rem;
  /* border:1px solid red; */
}
.sign-in__header-name {
  font-size: 1.8rem;
  font-weight: 600;
  letter-spacing: 1px;
}

.sign-in__form-info {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.sign-in-label {
  display: block;
  color: #404040;
  letter-spacing: 1px;
  font-size: 0.9rem;
  /* padding: 0.5rem 0 0.5rem 0; */
}
.username-info {
  display: flex;
  flex-direction: column;
  padding-left: 2rem;
  gap: 0.5rem;
}
.sign-in__input {
  width: 90%;
  height: 2.5rem;
  padding: 0.2rem;
  border: 1px solid lightgray;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  border: 1px solid #d4d4d4;
  padding-left: 0.5rem;
}
.sign-in__error {
  color: red;
  letter-spacing: 1px;
  font-size: 0.8rem;
  font-style: italic;
}

.password-info {
  display: flex;
  flex-direction: column;
  padding-left: 2rem;
  gap: 0.7rem;
}
.sign-in__button {
  align-self: center;
  background-color: #2f80ed;
  cursor: pointer;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  width: fit-content;
  letter-spacing: 0.5px;

  padding: 0.4rem 1.5rem 0.4rem 1.5rem;
}
.txt-center {
  text-align: center;
}
.spinner-indicator {
  margin-left: 0.3rem;
}
.register__action {
  text-align: center;
}
.register__action-info {
  margin-top: 0.5rem;
  display: block;
  color: #808080;
  margin-bottom: 1.5rem;
}
.create-account-action {
  width: fit-content;
  color: #2f80ed;
  background-color: inherit;
  border: 1px solid #551a8b;
  padding: 0.6rem;
  font-size: 0.8rem;
  letter-spacing: 1px;
  border-radius: 7px;
  text-decoration: none;
}
