.post-id {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-rows: 4.5rem auto;
  grid-template-columns: 3fr 4.5fr 4fr;
  grid-template-areas:
    "nav nav nav"
    "left postIdMain right";
}

.nav {
  width: 100%;
  grid-area: nav;
}
.post-id__main {
  background-color: #fafafa;
  grid-area: postIdMain;
  margin-bottom: 1rem;
}
.back__action-btn {
  margin-top: 1rem;
  cursor: pointer;
  font-size: 1.3rem;
}
.post-id__info {
  border: 2px solid red;
}
.post-id__right {
  background-color: #fafafa;
  grid-area: right;
}
.post-id__left {
  grid-area: left;

  background-color: #fafafa;
}
/* post Comment */
.post__comment-area {
  display: flex;
  width: 100%;
  border: 1px solid #f2f2f2;
  box-sizing: border-box;
  border-radius: 8px;
  background: #fafafac7;
}
.post__input-comment {
  background-color: inherit;
  border: none;
  flex-grow: 1;
  padding-left: 1rem;
  outline: none;
}
.post__comment-btn {
  background-color: inherit;
  border: none;
  padding: 0.3rem;
  margin-left: 0.1rem;
  cursor: pointer;
}
.post__comments-info {
  display: flex;
  justify-content: space-between;
  height: auto;
}

.comments__view-action {
  text-align: center;
  font-size: 0.8rem;
  cursor: pointer;
  text-decoration: underline;
  letter-spacing: 0.5px;
}
.post__comments-show {
  height: auto;
  max-height: 20rem;
  overflow: scroll;
  overflow-x: hidden;
}
.post__comments-container {
  display: flex;
  gap: 0.8rem;
}
.post__comments-owner {
  font-size: 0.7rem;
  font-weight: 600;
  letter-spacing: 1px;
}

.post-comment {
  font-size: 0.8rem;
  letter-spacing: 0.2px;
}
.post__comments-time {
  font-size: 0.7rem;
  letter-spacing: 1px;
  color: #bdbdbd;
}
.post__user-comment {
  width: 100%;
  grid-area: userComment;
  display: flex;
  gap: 1rem;
  padding-bottom: 0.5rem;
  border-bottom: 2px solid #f2f2f2;
}
