.post {
  display: grid;
  grid-template-rows: auto;
  grid-template-areas:
    "userHeader"
    "captions"
    "image"
    "info"
    "actions"
    "userComment";
  gap: 0.6rem;
  border-radius: 8px;
  border: 1px solid #f2f2f2;
  padding: 1rem;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.05);
  background-color: #ffffff;
  margin-top: 1rem;
  border: 1px solid #eff1f3;
}

.post__header-user {
  grid-area: userHeader;
  display: flex;
  gap: 1.5rem;
}

.post__user-info {
  display: flex;
  flex-direction: column;
}
.post__owner-name {
  font-style: normal;
  font-weight: 500;
  font-size: 1.1rem;
  line-height: 24px;
  letter-spacing: -0.035em;
  color: #37393a;
}
.post__owner-name:hover{
  text-decoration: underline;
  cursor: pointer;
}
.post__created-at {
  font-size: 0.8rem;
  letter-spacing: -0.015rem;
  line-height: 16px;
  color: #bdbdbd;
  font-weight: normal;
}
.post__header-caption {
  grid-area: captions;
  font-size: 1rem;
  line-height: 22px;
  letter-spacing: -0.035rem;
  color: #37393a;
  font-weight: normal;
}
.post__image-info {
  min-height: 0rem;
  grid-area: image;
}
.post__image-info:hover {
  cursor: pointer;
}
.post__image {
  width: 90%;
  object-fit: contain;
  border-radius: 8px;
}
.post__likes-count:hover {
  cursor: pointer;
  text-decoration: underline;
  color: #37393a;
}
.post__info {
  grid-area: info;
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
  font-size: 0.8rem;
  letter-spacing: -0.015rem;
  line-height: 16px;
  color: #bdbdbd;
  font-weight: 500;
}
.post__actions-info {
  grid-area: actions;
  display: flex;
  justify-content: space-between;
  border-top: 2px solid #f2f2f2;
  border-bottom: 2px solid #f2f2f2;
  padding: 0.5rem 0.5rem 0 0.5rem;
}
.pst-action {
  display: flex;
}
.post__comments-user {
  display: flex;
}
.pst-action-name {
  padding-left: 0.5rem;
  font-weight: 500;
  font-size: 0.9rem;
  line-height: 19px;
  letter-spacing: -0.035em;
}
.user-comment-avatar {
  width: 30px;
  height: 30px;
}
